# Dependencies
node_modules/
package-lock.json
yarn.lock

# System files
.DS_Store
Thumbs.db

# Environment and Config
.env
config.js

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build output (jika nanti pakai bundler)
dist/
build/

# IDE
.vscode/
.idea/
# Local Netlify folder
.netlify
